<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <!-- Interpolation syntax -->
    <h3><%= 1+2  %> </h3>
    <h3><%=["hello", "banjour"][1] %></h3>
    <h3> <%= "sunil".toUpperCase() %> </h3>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iste consequuntur aperiam cum esse placeat dignissimos magni dolorem, cupiditate laboriosam voluptates? Atque error enim eligendi odit ullam commodi delectus, doloribus blanditiis rerum unde autem nobis dignissimos quas praesentium reprehenderit similique ab eum incidunt, eos harum vel quis rem qui. Corporis?
    
    
</body>
</html>